<h1>Articles</h1>
<h1>{{deleteSuccess}}</h1>

{{#each catalog}}
  <div class = 'article'>
    <h1>Title: {{title}}</h1>
    <p>Body: {{body}}</p>
    <p>Author: {{author}}</p>
    <p>URL: {{urlTitle}}</p>
  </div>
{{/each}}
